.settings-dropdown-menu{
    position: absolute;
    padding: 20px;
    background-color: white;
    right: 40px;
    border-radius: 10px;
    margin-top: 10px;
    min-width: 240px;
    min-height: 200px;
}
.settings-dropdown-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    min-height: 200px;
}
.settings-dropdown-menu li{
    list-style-type: none;
}
.app-header .settings-dropdown-menu ul li a,.app-header .settings-dropdown-menu button,.app-header .settings-dropdown-menu span {
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    color: #31363F;
    cursor: pointer;
    height: auto;
}
.app-header .settings-button a,.app-header .settings-dropdown-menu button{
    background-color: transparent !important;

}

.profile-toggle-wrapper,.profile-toggle-wrapper label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px; 
    height: 20px;  
  }
  
  .profile-toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .settings-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 20px; 
  }
  
  .settings-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 15px;  
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
  }
  
  input:checked + .settings-slider {
    background-color: #31363F;
  }
  
  input:checked + .settings-slider:before {
    transform: translateX(10px);
  }