.settings-dropdown-menu{
    position: absolute;
    background-color: white;
    right: 30px;
    border-radius: 10px;
    margin-top: 15px;
    max-width: 220px;
    min-width: 150px;
    max-height: 100px;
}
.settings-dropdown-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    min-height: 100px;
}
.settings-dropdown-menu li{
    list-style-type: none;
}
.app-header .settings-dropdown-menu ul li a,.app-header .settings-dropdown-menu button,.app-header .settings-dropdown-menu span {
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    color: #31363F;
    cursor: pointer;
    height: auto;
}
.app-header .settings-button a,.app-header .settings-dropdown-menu button{
    background-color: transparent !important;

}
  
  input:checked + .settings-slider {
    background-color: #31363F;
  }
  
  input:checked + .settings-slider:before {
    transform: translateX(10px);
  }