/* basic styles */
.skeleton {
    background: #ddd;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 4px;
  }
  .skeleton.title {
    width: 80%;
    height: 20px;
  }
  .skeleton.text {
    width: 100%;
    height: 12px;
    margin-bottom: 15px;
  }
  .skeleton.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .skeleton.button {
    padding: 15px 30px;
    display: inline-block;
    width: 170px;
    height: 50px;
    border-radius: 10px;
  }

  .skeleton-league{
    background-color: #BBBFCA;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    min-width: 350px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .skeleton-league .skeleton.logo{
    margin-right: 60px;
    width: 170px;
    height: 170px;
    object-fit: contain;
  }


  .skeleton-wrapper{
    position: relative;
    overflow: hidden;
  }

.shimmer-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2.5s infinite;
}
.shimmer{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: skew(-20deg);
    box-shadow: 0 0 30pxx 30px rgba(255, 255, 255, 0.05);
}

.skeleton-info-back{
  display: flex;
  position: relative;
  justify-content: space-between;
}
.skeleton-info-back .skeleton.title{
  width: 300px;
}
.skeleton-main{
  display: flex;
  margin-top: 65px;
}

.skeleton-description .skeleton.title,.skeleton-description .skeleton.text{
  background-color: #ebebeb;
}
.skeleton-description .skeleton.title{
  width: 300px;
}
.skeleton-main .skeleton.logo{
  width: 200px;
  height: 200px;
}
.skeleton-description{
  padding: 20px;
  height: 250px;
  background-color: #D9D9D9;
  width: 80%;
  margin-left: 30px;
  border-radius: 10px;
}
.skeleton-description-header{
  display: flex;
  justify-content: space-between;
}

.league-stats .skeleton.logo{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.league-stats .skeleton.text{
  width: 200px;
}

.league-heading{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-self: center;
}

.league-heading .skeleton.logo{
  width: 10em;
  height: 6rem;
  border-radius: 50%;
  margin-right: 10px;
}

.league-heading .skeleton.text{
  font-size: 80px;
  padding-left: 0.25em;
}

@keyframes loading{
    0%{transform: translateX(-150%);}
    50%{transform: translateX(-60%);}
    100%{transform: translateX(150%);}
}