.app-sidebar-wrapper {
    position: sticky;
    height: 90vh;
    width: 20%;
    padding: 50px;
    color: #758CA3;
    transition: transform 0.2s ease, width 0.2s ease; 
    transform: translateX(0); 
    overflow: hidden;
    z-index: 200;
}

.sidebar-closed {
    transform: translateX(-100%); 
    width: 15%;
    padding: 0;
    color: #758CA3; 
    position: absolute;
}
.app-sidebar{
    display: flex;
    flex-direction: column;
    width: auto;
    transition: all 0.2s ease-in ;

}



.app-sidebar h2{
    font-size: 35px;
    cursor: pointer;
}
.app-sidebar a{
    font-size: 30px;
    text-decoration: none;
    color: #758CA3;
    font-weight: bold;
    display: flex;
    align-items: center;
    
}
.app-sidebar div div div:hover{
    opacity: 0.7;
}
.app-sidebar div:nth-child(1)
{
    margin-top: 2rem;

}

.app-sidebar div div div{
    display: flex;
    margin-top: 0.8rem;
    align-items: center;
}


.sidebar-icon{
 width: 40px;   
 margin-right: 10px;
}

.app-sidebar span{
    transform: rotate(90deg);
    display: inline-block;
    transition: all 0.2s ease-in;
}
.app-sidebar .closed span{
    transform: rotate(0deg);
}

.closed div{
    display: none !important;
}
.app-sidebar .dashboard-div,.dashboard-div div{
    margin-top: 0px !important;
}
.dashboard-div div div{
    margin-top: 0.8rem !important;
}
.app-sidebar button{
    display: none;
}


/* 1720*/

@media only screen and (max-width: 1720px) {
    .app-sidebar-wrapper{
        width: 25%;
    }
}
@media only screen and (max-width: 1420px) {
    .app-sidebar-wrapper{
        width: 25%;
    }
}
@media only screen and (max-width: 1224px) {
    .app-sidebar-wrapper{
        width: auto;
        height: 100%;
        background-color: white;
        top: 0;
        position: fixed;;
    }
    .sidebar-closed div{
        display: none;
    }
    .app-sidebar button{
        display: inline-block;
        font-size: 50px;
        width: 30px;
        background-color: transparent;
        margin-bottom: 20px;
        color: #758CA3;
    }
    
}