.createteam-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.createteam-dropdown-toggle {
  padding: 11px 16px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: #A2A5AE;
  font-size: 20px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.createteam-dropdown-toggle:hover {
  background-color: #cfcfcf;
  color: #414141;
}

.createteam-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid #414141;
  list-style: none;
  margin: 5px 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto; 
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.createteam-dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  color: black;
  font-size: 16px;
}

.createteam-dropdown-menu li:hover {
  background-color: #cfcfcf;
}

.create-team-submit-button:hover{
  background-color: #e4e4e4;
  color: #080808;
  box-shadow: 0 0 10px #e4e4e4;
}

@media (max-width: 768px) {
  .createteam-dropdown-toggle {
    font-size: 20px;
    padding: 11px 16px;
  }
  
  .createteam-dropdown-menu {
    max-height: 180px;
  }
}

@media (max-width: 480px) {
  .createteam-dropdown-toggle {
    font-size: 14px;
    padding: 10px;
  }
  
  .createteam-dropdown-menu {
    max-height: 150px;
  }
}