.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-toggle {
  padding: 11px 16px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: #A2A5AE;
  font-size: 20px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.dropdown-toggle:hover {
  background-color: #3B4252;
  color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid #414141;
  list-style: none;
  margin: 5px 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto; 
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  color: black;
  font-size: 16px;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .dropdown-toggle {
    font-size: 20px;
    padding: 11px 16px;
  }
  
  .dropdown-menu {
    max-height: 180px;
  }
}

@media (max-width: 480px) {
  .dropdown-toggle {
    font-size: 14px;
    padding: 10px;
  }
  
  .dropdown-menu {
    max-height: 150px;
  }
}