footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #31363F;
    color: white;
    padding: 20px 0;
}

.footer-right {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-media-links {
    display: flex;
    gap: 50px;
}

.social-media-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 28px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d6e4f0;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
}

.social-media-links a:hover {
    color: #1da1f2;
    transform: scale(1.2);
}

hr {
    width: 90%;
    border: 1px solid #545a65;
}

.static-footer-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.static-footer-image h1 {
    font-size: 45px;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 22px;
}

.static-footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 120px;
    padding: 10px;
}

.static-footer-image {
    display: flex;
    font-size: 20px;
    margin-top: 30px;
    align-items: center;
    gap: 20px;
}

.static-footer-image img {
    width: 65px;
    height: 65px;
}

.static-footer-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 100%;
    margin-top: 80px;
}

.static-footer-link a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s ease;
}

.static-footer-link a:hover {
    color: #1da1f2;
}

.footer-install-banner {
    background-color: #696f7b;
    padding: 50px 40px;
    border-radius: 10px;
    max-width: 80%;
    flex-shrink: 0;
    text-align: center;
}

.footer-install-banner h2 {
    margin-bottom: 50px;
    font-size: 30px;
}

.install-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    color: #000000;
    background-color: lightgrey;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
    margin: 5px;
}

.btn:hover {
    background-color: grey;
}

.copyright-footer {
    background-color: #31363F;
    border-top: 1px solid #545a65;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-footer h4 {
    color: white;
    margin: 0;
}

@media (max-width: 768px) {
    .static-footer-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-right {
        flex-direction: column;
    }

    .static-footer-link {
        width: 100%;
        text-align: center;
    }

    .footer-install-banner {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .footer-install-banner a:nth-child(2) {
        display: none;
    }
}
