.dashboard-wrapper{
    height: 100vh;
}
.main-stats{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.dashboard-wrapper div  h2{
    text-align: center;
    margin: 20px 0;
}


@media only screen and (max-width:900px){
    .main-stats{
        grid-template-columns: 1fr;
    }
    .main-stats div div:nth-child(1){
        height: 500px !important;
    }
}