
.employee-popup {
  background-color: #495464;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  aspect-ratio: 2/1.2;
  overflow: auto;
  position: relative;
  min-height: 360px;

}

.employee-popup p{
  color: red;
  margin-top: 10px;
}
.pop-up-input{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.employee-popup-content h1{
  font-size: 30px;
  color: #d9dbe2;
  text-shadow: 3px 2px #495464;
  background-clip: text;
  text-align: center;
}

.pop-up-input input::placeholder,.pop-up-input select{
  color: #495464 !important;
}
.pop-up-input .selection-filter{
  margin: 10px 0px 0px 0px;

}

.pop-up-input input,.pop-up-input .selection-filter{
  width: 60%;
}

.pop-up-input select{
  width: 100%;
}
.pop-up-input select,.pop-up-input input{
  padding: 15px;
  height: auto;
}

.pop-up-input button{
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 80px;
  background-color: #76ABAE;
  color: #495464;
  font-size: 18px;
}


.pop-up-input button:hover{
  opacity: 0.8;
}

