.schedule-container {
    text-align: center;
    padding: 30px;
    color: black;
}

.schedule-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #646464;
}

.schedule-league-dropdown {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
    background: #f8f8f8;
}

.schedule-export-button {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    float: right;
    cursor: pointer;
    margin-bottom: 10px;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.schedule-table th {
    border-bottom: 1.5px solid black;
    color: black;
    background: white;
    font-weight: bold;
}

.schedule-table th,
.schedule-table td {
    padding: 12px;
    text-align: center;
}

.schedule-team-logo {
    font-size: 24px;
    width: 10px;
    height: 10px;
}

.schedule-team-name {
    font-weight: bold;
    color: #444;
}

.schedule-match-result {
    font-weight: bold;
    font-size: 18px;
}

.schedule-update-button {
    background: #ddd;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.schedule-update-button:hover {
    background: #ccc;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .schedule-container {
        padding: 20px;
    }

    .schedule-title {
        font-size: 24px;
    }

    .schedule-league-dropdown {
        width: 100%;
        font-size: 14px;
    }

    .schedule-table th,
    .schedule-table td {
        padding: 8px;
        font-size: 12px;
    }

    .schedule-update-button {
        font-size: 12px;
        padding: 6px 10px;
    }
}
