.btn{
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

}
.btn:hover{
    cursor: pointer;
}
.b-white{
    background-color: white; 
    color: #31363F; 
    border: 1px solid white;
}
.b-white:hover{
    background-color: transparent;
    color: white;
    box-shadow: none;
}
.b-gray{
    background-color: #31363F; 
    color: white;  
    border: 1px solid #31363F;
}
.b-gray:hover{
    background-color: transparent;
    box-shadow: none;
    color: #31363F;
}
.shadow-bottom{
    box-shadow: 0px 3px  4px black;
}

.active{
    color: red !important;
    text-decoration: underline !important;
}


.absolute {
    position: absolute;
}
.no-scroll {
    overflow: hidden;
  }

.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.3;

}

.error{
    color: red !important;
}

.app-outlet{
    width: 100%;

}
.app-content{
    display: flex;
}
.main-div-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-div{
    width: 95%;
    background-color: #31363F;
    border-radius: 20px;
    min-height: 80vh;
    padding: 20px;
}

.main-btn{
    background-color: #495464;
    padding: 12px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.3));
}
.main-btn:hover{
    opacity: 0.8;
}